head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel="stylesheet", href="stylesheets/landing.css", attr)
block content
    
    #landing-header
      h1 Welcome to #{title}!
      a.btn.btn-primary(href="/campgrounds", title="title") View All Campgrounds

    ul.slideshow
      li
      li
      li
      li
      li

