include ../partials/header.pug

block content
    .container
        .row.justify-content-center
            .col-sm-4.col-md-4
                h2.my-4(style="text-align:center;") Add New Comment to 
                    span=campground.name
                form(action=`/campgrounds/${campground._id}/comments`, method="post")
                    .form-group
                        input.form-control(type="text", name="text", placeholder="text")
                    .form-group
                        button.btn.btn-md.btn-outline-primary.my-2.btn-block Submit
                a(href="/campgrounds") Go back

include ../partials/footer.pug